@font-face {
	font-family: 'Reef';
	src: url('../fonts/reef.otf') format('opentype');
}
@font-face {
	font-family: 'Neha Mono';
	src: url('../fonts/neha_mono_regular.otf') format('opentype');
}
@font-face {
	font-family: 'Neha Mono Comfortable';
	src: url('../fonts/neha_mono_regular_comfortable.otf') format('opentype');
}

html, body, a, header, nav, p, div, span, img {
	-webkit-transition: background, color 250ms ease-out;
  -moz-transition: background, color 250ms ease-out;
  -o-transition: background, color 250ms ease-out;
  transition: background, color 250ms ease-out;
}

/* nav click animation */
/*#nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
	left: 0;
  background-color: #366358;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#nav a:active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/

/* Layout */

body {
	font-family: 'Dosis', 'Reef', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#505962;

	background:#f5f1e9;
	background:#ffffff;
	padding:0;
	margin:0;
	min-width: 454px;

}

#wrapper {
	width:900px;
	margin:0 auto;
}

#nav {
	font-size:16px;
	text-align:center;
	font-weight:300;
	letter-spacing: 1px;
	color:#0d0d0d;
	width:100%;
	padding:10px 20px 10px 0;
	/*padding:0 0 10px 0;*/
	position: fixed;
	z-index: 10;
}

.nav-about {
    background: #565d8f;
}

.nav-experience {
    background: #4b689b;
}

.nav-portfolio {
    background: #3f74a6;
}

.nav-contact {
    background: #4b879b;
}

#header {
	width: 100%;
	margin: 0;
	padding: 0;
}

#bg {
	height:36px;
}

#load {
	display:none;
	background: url(images/ajax-loader.gif);
	width:43px;
	height:11px;
	text-indent:-9999em;
}

#main-content {
	margin:0 auto;
}

#main-image {

}

#left-column {
	width:600px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
}

#right-column {
	width:270px;
	float:right;
	text-align:center;
	margin-top: 40px;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px 10px 25px;
}

.poster {
	width: 100%;
	padding: 20px;
	border-radius: 24px;
	cursor: pointer;
}

.screenshot {
    display: block;
    margin: auto;
}

.poster-modal {
	width: 100%;
	padding: 0;
	border-radius: 4px;
}

/* Global Styling */

a {
	color: #5e8cba;
	text-decoration: none;
}

a:hover {
	color: #75bdab;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	color:#1a1a1a;

	margin:0 0 10px;
	padding-bottom:8px;
	font-size:19px;
	border-bottom:1px solid #c0c6cc;
}

h2 {
	color:#1a1a1a;

	margin:20px 0 10px;
	padding-bottom:10px;
	font-size:19px;
	border-bottom:1px solid #c0c6cc;
}

h3 {
	color:#1a1a1a;

	margin:10px 0;
	padding-bottom:10px;
	font-size:19px;
	font-weight:600;
	border-bottom:1px solid #c0c6cc;
}

h4 {
	color:#1a1a1a;

	margin-bottom:40px;
	letter-spacing: 1px;
	font-size:32px;
	font-weight:400;
}

img {
	border-radius: 4px;
}

p {
	padding:0;
	margin:0;
}

ul {
	padding:0 0 0 20px;
	margin:0 0 0 17px;
}

/* Classes */

.box {
	/*background:#d99985;*/
	padding:15px;
	width:210px;
	float:left;
	color:white;
}

.box h1, h3 { color:white; }

.circular {
	border-radius:160px;
	/*box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

.fixed {
	position: fixed;
}

.date {
	font-family: 'Neha Mono Comfortable', 'Source Code Pro', 'monospace';
	color: #999fac;
	font-size: 14px;
}

.project-link {
	font-size:16px;
}

.partial_width {
	margin-left: 5%;
	width: 60%;
}
.partial_width_centered {
	margin-left: 20%;
}

.row {
	float: left;
	width: 100%;
	white-space: nowrap;
}

.code {
	font-family: 'Neha Mono', 'Source Code Pro', 'monospace';
	font-size: 13px;
	text-decoration: none;
	color: #999fac;
}

.code-list {
	font-family: 'Neha Mono', 'Source Code Pro', 'monospace';
	font-size: 14px;
	margin-top: 10px;
	list-style: none;
}

.code-list-item {
	display: flex;
	align-items: center;
}

.code-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: middle;
    padding: 4px 8px 4px 20px;
}

.code-icon-image {
    max-width: 100%;
    max-height: 100%;
}

.experience-entry {
	overflow: auto;
	zoom: 1;
	margin-bottom: 60px;
}

.experience-bullets {
	padding-left: 20px;
	white-space: normal;
}

.experience-left {
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
	white-space: normal;
}

.experience-right {
	display: inline-block;
	white-space: normal;
}

.full_width {
	width: 100%;
}

.icon {
	width: 50px;
}

.icon-slightly-larger {
	width: 80px;
}

.img_list {
	list-style-type: none;
}

.v-super {
	display: inline-block;
	height: 100%;
	vertical-align: super;
}

.social {
	-webkit-filter: grayscale(30%);
	filter: grayscale(30%);
}

.social:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.social-git {
	-webkit-filter: contrast(80%);
	filter: contrast(80%);
}

.social-git:hover {
	-webkit-filter: contrast(25%);
	filter: contrast(25%);
}

/* ID's */

#nav a {
	margin:0 15px 0 15px;
	font-weight:300;
	color: #ffffff;


	text-decoration: none;
}

#nav a:hover, #nav .active {
	color:#b3c7bc;
}

#nav .active {
	cursor: default;
}

#box_left {
	float:left;
	margin-left:26px;
}

#box_right {
	float:right;
	margin-right:26px;
}

#contact a, #contact p {
	font-family: 'Neha Mono', 'Source Code Pro', 'monospace';
	line-height: 1.5;
	font-size: 14px;
/*
	margin-top: 40px;
	margin-left:168px;
*/
}

#elevator_pitch {
	clear:both;
	margin-bottom: 25px;
}

#map {
	border-radius: 4px;
    margin: auto;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	html, body, a, header, nav, p, div, span, img {
		-webkit-text-size-adjust: 150%;
	}

	#left-column, #right-column {
		width: 100%;
	  float: none;
		margin: auto;
		padding: 20px;
	}
	#wrapper {
		width: 90%;
		margin: 0;
	}
/*
	#contact {
		margin: auto;
		margin-top: 40px;
		padding-left: 60px;
        padding-right: 4px;
	}
	#map {
		margin: auto;
	}
*/
	.sidebar {
		margin: auto;
	}
  .fixed {
    position: static;
	}
	#nav a {
		font-weight: 600;
	}
}
@media (max-width: 800px) {
	#left-column, #right-column, #main-content {
		width: 100%;
	  float: none;
		margin: auto;
		padding: 20px;
	}
	#wrapper {
		width: 90%;
		margin: 0;
	}
/*
	#contact {
		margin: auto;
		margin-top: 40px;
		padding-left: 4px;
		padding-right: 4px;
	}
	#map {
		margin: auto;
	}
*/
	.sidebar {
		margin: auto;
	}
  .fixed {
    position: static;
	}
	#nav {
		font-weight: 300;
	}
}
