/* Layout */

body {
    font-family:'Dosis', sans-serif;
    font-weight:300;
    font-size:12px;
	color:#2a3845;
	background:#ffffff;
	padding:0;
	margin:0;
}

#wrapper {
	width:632px;
	margin:0 auto;
}

#nav {
	font-size:10px;
	background:#06a;
	text-align:center;
	color:#f6dde3;
	padding:10px 20px 10px 20px;
}

#header {}

#bg {
	height:36px;
    background:url('http://img840.imageshack.us/img840/9886/87926428.gif') repeat-x;
}

#main-content {
	margin:0 auto;
}

#main-image {

}

#left-column {
	width:300px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
}

#right-column {
	270px;
	float:right;
	text-align:center;
}

.sidebar {
    background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
	width:218px;
	margin:0 auto;
	padding:10px 25px 10px 25px;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#1a1a1a;
	margin:0 0 10px;
	padding-bottom:10px;
	font-size:17px;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#1a1a1a;
	margin:20px 0 10px;
	padding-bottom:10px;
	font-size:17px;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#1a1a1a;
	margin:10px 0;
	padding-bottom:10px;
	font-size:14px;
	font-weight:600;
	border-bottom:1px solid #efece7;
}

div {
	margin-right:1px;
	margin-left:1px
}

p {
	padding:0;
	margin:0;
}

ul {
	padding:0;
	margin:0 0 0 17px;
    list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
}

.box {
	background:#595959;
	border:1px solid #404040;
	padding:15px;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font-size:18px;
	font-weight:600;
	color:#fa7393;
}
