html, body, a, header, nav, p, div, span, img {
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Layout */

body {
	font-family:'Dosis', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#2a3845;
	background:#ffffff;
	padding:0;
	margin:0;
}

#wrapper {
	width:900px;
	margin:0 auto;
}

#nav {
	font-size:16px;
	background:#3963ac;
	text-align:center;
	font-weight:300;
	color:white;
	width:100%;
	padding:10px 20px 10px 20px;
	position: fixed;
	z-index: 10;
}

#header {
	width: 100%;
	margin: 0;
	padding: 0;
}

#bg {
	height:36px;
	background:#ffffff;
}

#load {
	display:none;
	background: url(images/ajax-loader.gif);
	width:43px;
	height:11px;
	text-indent:-9999em;
}

#main-content {
	margin:0 auto;
}

#main-image {

}

#left-column {
	width:600px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
}

#right-column {
	width:270px;
	float:right;
	text-align:center;
	margin-top: 40px;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px 10px 25px;
}

/* Global Styling */

a {
	color:#5ec0ed;
	text-decoration: none;
}

a:hover { text-decoration:underline; }

div {
	margin: 0;
	padding: 0;
}

h1 {
	color:#1a1a1a;
	margin:0 0 10px;
	padding-bottom:10px;
	font-size:19px;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#1a1a1a;
	margin:20px 0 10px;
	padding-bottom:10px;
	font-size:19px;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#1a1a1a;
	margin:10px 0;
	padding-bottom:10px;
	font-size:19px;
	font-weight:600;
	border-bottom:1px solid #efece7;
}

h4 {
	color:#5ec0ed;
	margin-bottom:20px;
	font-size:24px;
	font-weight:600;
}

img {
	border-radius: 4px;
}

p {
	padding:0;
	margin:0;
}

ul {
	padding:0;
	margin:0 0 0 17px;
}

/* Classes */

.box {
	background:#4299f0;
	padding:15px;
	width:210px;
	float:left;
	color:white;
}

.box h1, h3 { color:white; }

.circular {
	border-radius:160px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.fixed {
	position: fixed;
}

.img_list {
	list-style-type: none;
}

/* ID's */

#nav a {
	margin:0 10px;
	color:white;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:white;
}

#nav a:hover {
	text-decoration:underline;
	color:white;
}

#box_left {
	float:left;
	margin-left:26px;
}

#box_right {
	float:right;
	margin-right:26px;
	background:#24a866;
}

#contact {
	margin-top: 26px;
	margin-left:168px;
}

#elevator_pitch {
	clear:both;
}

#map {
	border-radius: 4px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	#left-column, #right-column {
		width: 100%;
	  float: none;
		margin: auto;
		padding: 20px;
	}
	#wrapper {
		width: 90%;
		margin: 0;
	}
	#contact {
		margin: auto;
		padding-left: 4px;
		padding-right: 4px;
	}
	.sidebar {
		margin: auto;
	}
  .fixed {
    position: static;
	}
}
@media (max-width: 800px) {
	#left-column, #right-column {
		width: 100%;
	  float: none;
		margin: auto;
		padding: 20px;
	}
	#wrapper {
		width: 90%;
		margin: 0;
	}
	#contact {
		margin: auto;
		padding-left: 4px;
		padding-right: 4px;
	}
	.sidebar {
		margin: auto;
	}
  .fixed {
    position: static;
	}
}
