body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}

.left_column {
  margin-right:170px;
}

.right_column {
  float:right;
  width:160px;
}

ul#nav_container {
  list-style-type:none;
  background-color:#3466b2;
  margin-bottom:15px;
}

ul#nav_container li {
  display:inline-block;
}

ul#nav_container li a {
  display:inline-block;
  text-decoration:none;
  padding:5px;
  color:white;
}

ul#nav_container li a:hover {
  background-color:#3a71c5;
}

#main_content {
 width:900px;
 margin:auto;
}