.hidden {
  display: none;
}

.arrow {
  cursor: pointer;
  display: inline-block;
  height: 6px;
  margin-bottom: 3px;
  margin-left: 6px;
}

.drop-down {
  transform: rotate(90deg);
}

.pull-up {
  transform: rotate(-90deg);
}
