@font-face {
  font-family: 'Reef';
  src: url(public/fonts/reef.otf) format("opentype"); }

@font-face {
  font-family: 'Peter Mono';
  src: url(public/fonts/peter_mono_regular.otf) format("opentype"); }

@font-face {
  font-family: 'Peter Mono Comfortable';
  src: url(public/fonts/peter_mono_comfortable.otf) format("opentype"); }

.main-wrapper {
  width: 100%;
  margin: 0 auto; }

.main-content, .left-column, .right-column {
  margin: 0 auto; }

.left-column {
  padding: 20px; }

@media (min-width: 900px) {
  .main-wrapper {
    width: 900px; }
  .left-column {
    width: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px; }
  .right-column {
    width: 270px;
    float: right;
    text-align: center;
    margin-top: 40px; } }

/* Global Styling */
html, body, a, header, nav, p, div, span, img {
  transition: background, color, transform 250ms ease-out; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #505962;
  background: #f6f6f6;
  padding: 0;
  margin: 0;
  min-width: 454px; }

a {
  color: #5e8cba;
  text-decoration: none; }

a:hover {
  color: #75bdab; }

div {
  margin: 0;
  padding: 0; }

h1 {
  color: #1a1a1a;
  margin: 0 0 10px;
  padding-bottom: 8px;
  font-size: 19px;
  border-bottom: 1px solid #c0c6cc; }

h2 {
  color: #1a1a1a;
  margin: 20px 0 10px;
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #c0c6cc; }

h3 {
  color: #1a1a1a;
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
  border-bottom: 1px solid #c0c6cc; }

h4 {
  color: #1a1a1a;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 400; }

img {
  border-radius: 4px; }

p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0 0 0 20px;
  margin: 0 0 0 17px; }

.hidden {
  display: none; }

.arrow {
  cursor: pointer;
  display: inline-block;
  height: 6px;
  margin-bottom: 3px; }

.drop-down {
  transform: rotate(90deg); }

.pull-up {
  transform: rotate(-90deg); }

header {
  width: 100%;
  margin: 0;
  padding: 0; }

nav {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 20px 10px 0;
  position: fixed;
  z-index: 10;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); }
  nav > a {
    margin: 0 15px 0 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none; }
    nav > a::hover {
      color: #b3c7bc; }
  @media (min-width: 900px) {
    nav > a {
      font-size: 16px; } }

.nav-about {
  background: #565d8f; }

.nav-experience {
  background: #4b689b; }

.nav-portfolio {
  background: #3f74a6; }

.nav-contact {
  background: #4b879b; }

.nav-underlay {
  height: 36px; }

.nav-active {
  color: #b3c7bc;
  cursor: default; }

.side-bar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  padding: 40px 20px;
  text-align: center; }
  .side-bar-headshot-image {
    border-radius: 160px; }
  .side-bar-content {
    width: 218px;
    margin: 0 auto;
    padding: 10px; }
    .side-bar-content-social {
      transition: filter 250ms ease-out;
      margin: 0 6px;
      filter: grayscale(30%); }
      .side-bar-content-social::hover {
        filter: grayscale(100%); }
      .side-bar-content-social-git {
        transition: filter 250ms ease-out;
        margin: 0 6px;
        filter: contrast(80%); }
        .side-bar-content-social-git::hover {
          filter: contrast(25%); }
  @media (min-width: 900px) {
    .side-bar {
      position: fixed;
      padding: 20px; } }

.about-elevator-pitch {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  clear: both;
  margin-bottom: 25px; }
  .about-elevator-pitch-title {
    cursor: pointer; }
  .about-elevator-pitch-paragraph {
    margin-bottom: 16px; }

.about-code-list {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
  list-style: none; }
  .about-code-list-item {
    display: flex;
    align-items: center;
    font-family: 'Peter Mono', 'Source Code Pro', 'monospace'; }
    .about-code-list-item-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px 4px 20px; }
      .about-code-list-item-icon-image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0; }

.contact {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px; }
  .contact-info {
    line-height: 1.5;
    font-size: 14px; }
  .contact-map {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 4px;
    margin: auto; }

.experience-pdf-tip {
  font-family: 'Peter Mono', 'Source Code Pro', 'monospace';
  font-size: 13px;
  text-decoration: none;
  color: #999fac;
  display: inline-block;
  height: 100%;
  vertical-align: super; }

.experience-item {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  overflow: auto;
  margin-bottom: 60px; }
  .experience-item-content {
    float: left;
    width: 100%; }
  .experience-item-left {
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
    width: 50px; }
  .experience-item-right {
    display: inline-block;
    width: calc(100% - 70px); }
  .experience-item-icon {
    width: 50px; }
  .experience-item-title {
    cursor: pointer; }
  .experience-item-date {
    font-family: 'Peter Mono Comfortable', 'monospace';
    color: #999fac;
    font-size: 14px; }
  .experience-item-bullets {
    padding-left: 0;
    padding-top: 16px;
    white-space: normal; }

.portfolio-item {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 80px; }
  .portfolio-item-link {
    font-size: 16px; }
  .portfolio-item-date {
    font-family: 'Peter Mono Comfortable', 'monospace';
    color: #999fac;
    font-size: 14px; }
  .portfolio-item-keywords {
    font-family: 'Peter Mono', 'Source Code Pro', 'monospace';
    font-size: 13px;
    text-decoration: none;
    color: #999fac; }
  .portfolio-item-screenshot {
    display: block;
    margin: 40px auto; }
  .portfolio-item-bullets {
    margin-top: 20px; }

.poster {
  width: 100%;
  border-radius: 4px;
  margin-top: 40px;
  cursor: pointer; }
  .poster-modal {
    width: 100%;
    padding: 0;
    border-radius: 4px; }

/*# sourceMappingURL=bundle.css.map*/