.main-wrapper {
  margin: 0 auto;
  width: 100%;
}

.main-content,
.left-column,
.right-column {
  margin: 0 auto;
}

.left-column {
  padding: 25px;
}

@media only screen and (min-width: $responsive-width) {
  .main-wrapper {
    width: 900px;
  }

  .left-column {
    float: left;
    width: 600px;
  }

  .right-column {
    float: right;
    margin-top: 40px;
    text-align: center;
    width: 250px;
  }
}

.hidden {
  display: none;
}

.not-linky {
  color: $black;

  &:hover {
    color: $black;
  }

  &:active {
    color: $black;
  }
}
