@use '../utils/variables';

// Global Styling
body {
  background: variables.$hecka-light-gray;
  color: variables.$black;
  font-family: 'Brass Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: variables.$blue;
  text-decoration: none;

  &:hover {
    color: variables.$green;
  }
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  color: variables.$dark-black;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
}

h2 {
  color: variables.$dark-black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 60px;
}

h3 {
  color: variables.$dark-black;
  font-size: 16px;
  margin: 0;
}

img {
  border-radius: 4px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 0 0 17px;
  padding: 0 0 0 20px;
}
