.nav {
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  letter-spacing: 1px;
  padding: 10px 20px 10px 0;
  // position: fixed;
  transition: color 250ms ease-out;
  width: 100%;
  z-index: 10;

  &-about {
    color: $nav-about;
  }

  &-experience {
    color: $nav-experience;
  }

  &-portfolio {
    color: $nav-portfolio;
  }

  &-contact {
    color: $nav-contact;
  }

  &-link {
    color: $black;
    display: block;
    font-weight: 400;
    margin: 0 10px;
    text-decoration: none;

    &-active {
      color: $black;
      cursor: default;
      font-weight: 400;
      margin: 0 10px;
      text-decoration: underline;
    }

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }

  @media only screen and (min-width: $responsive-width) {
    &-link,
    &-link-active {
      margin: 0 20px;
    }
  }
}
