@use "../../utils/cards";

.profile {
  padding: 40px 20px 0;
  text-align: center;

  &-headshot {
    &-image {
      border-radius: 160px;
      display: inline-block;
    }
  }

  &-content {
    margin: 0 auto;
    padding: 10px;
    width: 218px;

    &-name {
      margin: 10px 0;
      padding-bottom: 10px;
    }

    &-social {
      @include cards.shadow-interactive-mini;
      margin: 0 6px;

      &-rounder {
        @include cards.shadow-interactive;
        border-radius: 10px;
        margin: 0 6px;
      }
    }
  }
}
