.profile {
  padding: 40px 20px;
  text-align: center;

  &-headshot {
    &-image {
      border-radius: 160px;
    }
  }

  &-content {
    margin: 0 auto;
    padding: 10px;
    width: 218px;

    &-name {
      margin: 10px 0;
      padding-bottom: 10px;
    }

    &-social {
      @include shadow-interactive;
      margin: 0 6px;

      &:hover {
        transform: scale(1.05);
      }

      &-git {
        @include shadow-interactive;
        border-radius: 50%;
        margin: 0 6px;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
