@use "../../utils/cards";
@use "../../utils/variables";

.experience {

  &-section-title {
    margin-bottom: 20px;
    margin-top: 40px;

    &-first {
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  &-pdf-tip {
    color: variables.$mid-gray;
    display: inline-block;
    font-size: 13px;
    height: 100%;
    margin-left: 6px;
    text-decoration: none;
    vertical-align: super;
  }

  &-item-interactive {
    @include cards.shadow-interactive;
  }

  &-item,
  &-item-interactive {
    @include cards.card;
    display: block;
    margin-bottom: 25px;
    overflow: auto;

    &-content {
      float: left;
      width: 100%;
    }

    &-left {
      display: inline-block;
      padding-right: 20px;
      vertical-align: top;
      width: 50px;
    }

    &-right {
      display: inline-block;
      width: calc(100% - 70px);
    }

    &-icon {
      width: 50px;
    }

    &-title {
      margin-bottom: 10px;
    }

    &-title-no-pointer {
      margin-bottom: 10px;
    }

    &-date {
      color: variables.$mid-gray;
    }

    &-dot {
      font-size: 19px;
      font-weight: 700;
      margin: 0 6px;
    }

    &-org {
      margin-left: 0;
    }

    &-bullets {
      padding-left: 0;
      padding-top: 16px;
      white-space: normal;
    }
  }

  &-code-list {
    list-style: none;
    margin-bottom: 25px;
    margin-top: 10px;

    &-item {
      align-items: center;
      display: flex;

      &-name {
        margin-right: 6px;
      }

      &-icon {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        padding: 4px 8px 4px 20px;
        width: 30px;

        &-image {
          border-radius: 0;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
