@use "../../utils/cards";
@use "../../utils/variables";

.portfolio {

  &-list {
    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  &-column {
    display: none;

    &-desktop {
      float: left;
      margin: 0;
      max-width: 340px;
      padding: 0;

      &::after {
        clear: both;
        content: '';
        display: table;
      }
    }
  }

  &-item {
    @include cards.shadow-interactive;
    float: left;
    margin: 0 10px 20px;
    width: 320px;

    &-icon {
      @include cards.card-top;

      &-image {
        @include cards.card-top;
        display: block;
        margin: auto;
        width: 100%;
        min-height: 100px;
      }
    }

    &-content {
      @include cards.card-bottom;
    }

    &-title {
      cursor: pointer;
      text-align: center;
    }
  }

  &-detail {
    margin: 0 0 20px;
    width: 100%;

    &-back-button {
      @include cards.shadow-interactive;
      background-color: variables.$dark-black;
      border: 0;
      border-radius: 4px;
      color: variables.$white;
      margin-top: 20px;
      padding: 4px 8px 2px;

      &:focus {
        color: variables.$yellow;
      }
    }

    &-media {
      margin-bottom: 20px;

      &-img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 900px;
      }

      &-vid {
        &-4-3{
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 4/3;
        }

        &-16-9{
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 16/9;
        }
      }
    }

    &-title {
      margin-bottom: 20px;
    }

    &-info {
      padding-top: 10px;
    }

    &-dot {
      margin: 0 6px;
    }

    &-org {
      margin-left: 6px;
    }

    &-link {
      font-size: 16px;
    }

    &-description {
      padding-top: 10px;
    }

    &-date {
      color: variables.$mid-gray;
    }

    &-keywords {
      color: variables.$mid-gray;
      font-size: 13px;
      text-decoration: none;
    }

    &-bullets {
      margin-top: 10px;
      padding: 0 0 0 8px;
    }
  }

  @media only screen and (max-width: 1000px) {
    // collapse into single column before major responsive layout change
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-column {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 500px;
      padding: 0 10px;

      &-desktop {
        display: none;
      }
    }

    &-item {
      margin-bottom: 25px;
      max-width: variables.$max-responsive-content-width;
      width: 100%;
    }
  }
}
