.portfolio {

  &-list {
    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  &-column {
    display: none;

    &-desktop {
      float: left;
      margin: 0;
      max-width: 300px;
      padding: 0;

      &::after {
        clear: both;
        content: '';
        display: table;
      }
    }
  }

  &-item {
    @include shadow-interactive;
    float: left;
    margin: 0 10px 20px;
    width: 280px;

    &-icon {
      @include card-top;

      &-image {
        @include card-top;
        display: block;
        margin: auto;
        width: 100%;

        &-small {
          border-radius: 23px;
          padding: 20px;
        }
      }
    }

    &-content {
      @include card-bottom;
    }

    &-title {
      cursor: pointer;
      text-align: center;
    }
  }

  &-detail {
    float: left;
    margin: 0 10px 20px;

    &-back-button {
      @include shadow-interactive;
      background-color: $black;
      border: 0;
      border-radius: 4px;
      color: $white;
      margin-top: 20px;

      &:focus {
        color: $camel;
      }
    }

    &-image {
      margin-bottom: 20px;

      &-img {
        display: block;
        margin: auto;
        width: 100%;

        &-small {
          border-radius: 23px;
          padding: 20px;
        }
      }
    }

    &-title {
      margin-bottom: 20px;
    }

    &-info {
      padding-top: 10px;
    }

    &-dot {
      margin: 0 6px;
    }

    &-org {
      margin-left: 6px;
    }

    &-link {
      font-size: 16px;
    }

    &-description {
      padding-top: 10px;
    }

    &-date {
      color: $mid-gray;
    }

    &-keywords {
      color: $mid-gray;
      font-size: 13px;
      text-decoration: none;
    }

    &-bullets {
      margin-top: 10px;
      padding: 0 0 0 8px;
    }
  }

  @media only screen and (max-width: $responsive-width) {
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-column {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: 100%;
      padding: 0;

      &-desktop {
        display: none;
      }
    }

    &-item {
      float: none;
      margin-bottom: 25px;
      width: 100%;
    }

    &-detail {
      float: none;
    }
  }
}
