.about {
  &-title {
    color: $nav-about;
  }

  &-elevator-pitch {
    @include card;
    clear:both;
    margin-bottom: 25px;

    &-title {
      cursor: pointer;
    }

    &-paragraph {
      padding-top: 8px;
      margin-bottom: 0;
    }
  }

  &-code-list {
    @include card;
    margin-top: 10px;
    margin-bottom: 25px;
    list-style: none;

    &-title {
      margin-bottom: 10px;
    }

    &-item {
      display: flex;
      align-items: center;
      font-family: 'Peter Mono', 'Dosis', 'monospace';

      &-name {
        margin-right: 6px;
      }

      &-icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px 4px 20px;

        &-image {
          max-width: 100%;
          max-height: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
