.contact {
  @include card;

  &-info {
    line-height: 1.5;
    font-size: 14px;
  }

  &-map {
    @include shadow;
    border-radius: 4px;
    margin: auto;
    min-width: 100%;
  }

  @media only screen and (min-width: $responsive-width) {
    &-map {
      // height: 360px;
      min-width: 426px;
    }
  }
}
