.portfolio {
  &-title {
    color: $nav-portfolio;
  }

  &-list {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-column {
    max-width: 300px;
    margin: 0;
    padding: 0;
    float: left;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

  &-item {
    @include shadow;
    width: 280px;
    margin: 0 10px 20px 10px;
    float: left;

    &-icon {
      @include card-top;
      &-image {
        @include card-top;
        display: block;
        margin: auto;
        width: 100%;

        &-small {
          border-radius: 23px 23px 23px 23px;
          padding: 20px;
        }
      }
    }

    &-content {
      @include card-bottom;
    }

    &-title {
      cursor: pointer;
    }

    &-dot {
      margin: 0 6px;
    }

    &-org {
      margin-left: 6px;
    }

    &-link {
      font-size:16px;
    }

    &-description {
      padding-top: 25px;
    }

    &-date {
      font-family: 'Peter Mono', 'Dosis', 'monospace';
      color: $mid-gray;
      font-size: 14px;
    }

    &-keywords {
      font-family: 'Peter Mono', 'Dosis', 'monospace';

      font-size: 13px;
      text-decoration: none;
      color: $mid-gray;
    }

    &-bullets {
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: $responsive-width) {
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-column {
      max-width: 100%;
      float: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      float: none;
      margin-bottom: 25px;
    }
  }
}
