.portfolio {
  &-item {
    @include shadow;
    margin-bottom: 25px;

    &-icon {
      @include card-top;
      &-image {
        @include card-top;
        display: block;
        margin: auto;
        max-width: 100%;

        &-small {
          border-radius: 23px 23px 23px 23px;
          padding: 20px;
        }
      }
    }

    &-content {
      @include card-bottom;
    }

    &-title {
      cursor: pointer;
    }

    &-link {
      font-size:16px;
    }

    &-description {
      padding-top: 25px;
    }

    &-date {
      font-family: 'Peter Mono', 'Dosis', 'monospace';
      color: $mid-gray;
      font-size: 14px;
    }

    &-keywords {
      font-family: 'Peter Mono', 'Dosis', 'monospace';

      font-size: 13px;
      text-decoration: none;
      color: $mid-gray;
    }

    &-bullets {
      margin-top: 20px;
    }
  }
}
