@mixin shadow {
  box-shadow: 0 1px 2px $shadow-color;
  transition: box-shadow .3s ease-in-out, transform .2s ease-in-out;
}

@mixin shadow-interactive {
  @include shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 6px $shadow-color;
    transform: scale(1.01);
  }

  &:active {
    box-shadow: 0 1px 2px $shadow-color;
    transform: scale(1.005);
  }
}

@mixin card {
  @include shadow;
  background: $white;
  border-radius: 3px;
  padding: 20px;
}


@mixin card-top {
  background: $white;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}

@mixin card-bottom {
  background: $white;
  border-radius: 0 0 3px 3px;
  margin-top: 0;
  padding: 20px;
}

@mixin card-bottom-no-pad {
  background: $white;
  border-radius: 0 0 3px 3px;
  margin-top: 0;
}
