$white: #ffffff;
$black: #505962;
$dark-black: #1a1a1a;

$hecka-light-gray: #f6f6f6;
$light-gray: #c0c6cc;
$mid-gray: #999fac;
$moss-gray: #b3c7bc;

$blue: #5e8cba;
$green: #75bdab;

$nav-about: #565d8f;
$nav-experience: #4b689b;
$nav-portfolio: #3f74a6;
$nav-contact: #4b879b;
