$white: #fff;
$black: #505962;
$dark-black: #1a1a1a;

$hecka-light-gray: #f6f6f6;
$light-gray: #c0c6cc;
$mid-gray: #999fac;
$dark-gray: #5e5e65;

$camel: #f4e6c2;
$blue: #4788b7;
$bright-blue: #4c9cc1;
$green: #4c9c7b;

$nav-about: $blue;
$nav-experience: $green;
$nav-portfolio: $dark-gray;
$nav-contact: $bright-blue;

$shadow-color: rgba(0, 0, 0, .08);
