@font-face {
    font-family: 'Reef';
    src: url('../public/fonts/reef.otf') format('opentype');
}
@font-face {
    font-family: 'Peter Mono';
    src: url('../public/fonts/peter_mono_regular.otf') format('opentype');
}
@font-face {
    font-family: 'Peter Mono Comfortable';
    src: url('../public/fonts/peter_mono_comfortable.otf') format('opentype');
}
