.main-wrapper {
  width: 100%;
  margin: 0 auto;
}

.main-content, .left-column, .right-column {
  margin: 0 auto;
}

.left-column {
  padding: 25px;
}

@media only screen and (min-width: $responsive-width) {
  .main-wrapper {
    width: 900px;
  }

  .left-column {
    width: 600px;
    float: left;
  }

  .right-column {
    width: 250px;
    float: right;
    text-align: center;
    margin-top: 40px;
  }
}
